WebsiteTanHoa/websiteTanHoa/App_WebReferences/WebReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:banhangwsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:banhangwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:banhangwsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="HoaDon">
        <xsd:all>
          <xsd:element name="KyHD" type="xsd:string" />
          <xsd:element name="NamHD" type="xsd:string" />
          <xsd:element name="PBVMT" type="xsd:float" />
          <xsd:element name="TGTGT" type="xsd:float" />
          <xsd:element name="TNuoc" type="xsd:float" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="HoaDonArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:HoaDon[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getBillRequest">
    <wsdl:part name="customerId" type="xsd:string" />
    <wsdl:part name="year" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getBillResponse">
    <wsdl:part name="return" type="tns:HoaDonArray" />
  </wsdl:message>
  <wsdl:portType name="banhangPortType">
    <wsdl:operation name="getBill">
      <wsdl:input message="tns:getBillRequest" />
      <wsdl:output message="tns:getBillResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="banhangBinding" type="tns:banhangPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getBill">
      <soap:operation soapAction="urn:banhangwsdl#getBill" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:banhangwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:banhangwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="banhang">
    <wsdl:port name="banhangPort" binding="tns:banhangBinding">
      <soap:address location="http://113.161.88.180:1221/TanHoaService/service.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>